@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin: 30px auto;
	text-align: justify;
	line-height: 2;
	height: 1800px;


}

h1,h2,h3{
	font-family: 'Cormorant SC', serif;
	font-weight: bolder;
	text-shadow: 3px 0px 0px rgb(0 0 0 / 22%);
}

a{
	text-decoration: none;
}


p{
	margin-bottom: 50px;
}

iframe{
    box-shadow: 9px 8px 8px rgb(0 0 0 / 10%);
    border-radius: 5px;
    background-color: #F0EBE3;
    height: 320px;
    width: 735px;
    background-size: cover;
    

}
